.co {
  display: flex;
  flex-direction: column;
  height: 25px;
  background: rgb(212, 66, 76);
  padding: 0 1%;
}
.co ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.co ul li {
  color: rgb(255, 255, 255);
  font-size: small;
  list-style: none;
}
.co ul li a {
  font-size: 13px;
}
.co ul li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
/* Section 2 Code*/
.com li {
  list-style: none;
}
.com {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-top: 10px;
}
.svgm {
  width: 1em;
  height: 1em;
}

.svgm path,
.svgm polygon,
.svgm rect {
  fill: #0a0a0a;
}

.svgm circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.cos {
  display: flex;
}
.cos p {
  padding-top: 7px;
  padding-left: 5px;
}
.form1 {
  width: 500px;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgb(51, 82, 255);
  outline: none;
  padding: 6px 10px;
  /* padding: 30px; */
}
.btn {
  position: relative;
  bottom: 1.4px;
  padding: 5.5px 13px;
  border: none;
  outline: none;
  background-color: rgb(72, 118, 255);
  border-radius: 0px 4px 4px 0px;
  color: #fff;
}
